Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python3 -m src.tools.validators.syntax_validator --json
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python3 -m src.tools.validators.syntax_validator --turtle
  language: system

update-context:
  name: Update JSON-LD Contexts
  entry: python3 -m src.tools.utils.context_generator --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-registry:
  name: Update Ontology Registry and Catalog
  entry: python3 -m src.tools.utils.registry_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-properties:
  name: Update Properties Documentation
  entry: python3 -m src.tools.utils.properties_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README Catalog Table
  entry: python3 -m src.tools.utils.readme_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(gx): regenerate artifacts with rebased linkml
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
Due: update-registry, update-properties, update-readme

chore(openlabel-v2): regenerate artifacts with deterministic pipeline
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

chore: bump version to 0.1.5
  pyproject.toml
Due: none

chore: bump version to 0.1.5 (#50)
  pyproject.toml
Due: none

fix(hdmap): version-conditional levelOfDetail enum for OpenDRIVE v1.4 compat
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  config/ontoenv.toml
  docs/registry.json
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.json
  tests/data/hdmap/valid/hdmap_v14_custom_objecttype_instance.json
  tests/data/hdmap/valid/hdmap_v15_truck_instance.json
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): version-conditional enums for roadTypes and laneTypes
  artifacts/hdmap/hdmap.shacl.ttl
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

chore: pin linkml submodule to develop branch
  pyproject.toml
Due: none

chore: pin linkml submodule to develop branch (#53)
  pyproject.toml
Due: none

fix(hdmap): version-conditional enums for roadTypes and laneTypes (#52)
  artifacts/hdmap/hdmap.shacl.ttl
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): add 'truck' to levelOfDetail for OpenDRIVE v1.4/v1.5 compat (#51)
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  config/ontoenv.toml
  docs/registry.json
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.json
  tests/data/hdmap/valid/hdmap_v14_custom_objecttype_instance.json
  tests/data/hdmap/valid/hdmap_v15_truck_instance.json
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: add CI detection to Makefile and refactor CI workflow
  .github/workflows/ci-quality.yml
  Makefile
  pyproject.toml
Due: none

fix: add CI detection to Makefile and refactor CI workflow (#54)
  .github/workflows/ci-quality.yml
  Makefile
  pyproject.toml
Due: none

fix: run pre-commit hooks on generated files missed by earlier PRs
  artifacts/hdmap/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  imports/schema/schema.context.jsonld
Due: update-registry, update-properties, update-readme

chore: bump version to 0.1.6
  config/ontoenv.toml
  docs/registry.json
  pyproject.toml
Due: jsonld-lint

ci: add OS and Python version matrix to unit tests
  .github/workflows/ci-quality.yml
Due: none

ci: add artifact generation verification job
  .github/workflows/ci-quality.yml
Due: none

ci: add artifact generation verification job (#56)
  .github/workflows/ci-quality.yml
Due: none

feat: add HTTP artifact resolution for pip-only installations
  src/tools/utils/graph_loader.py
  src/tools/utils/http_artifact_resolver.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

fix(http-resolver): address adversarial review findings
  src/tools/utils/http_artifact_resolver.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

fix(context): resolve prefixes from @prefix declarations instead of IRI heuristic
  artifacts/envited-x/envited-x.context.jsonld
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/tzip21/tzip21.context.jsonld
  src/tools/utils/context_generator.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, update-registry, update-properties, update-readme

fix(context): resolve prefixes from @prefix declarations instead of IRI heuristic (#58)
  artifacts/envited-x/envited-x.context.jsonld
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/tzip21/tzip21.context.jsonld
  src/tools/utils/context_generator.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, update-registry, update-properties, update-readme

refactor: audit cleanup for HTTP artifact resolution
  src/tools/utils/http_artifact_resolver.py
  src/tools/utils/registry_resolver.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

feat(gx): embed owl:versionInfo in generated gx.owl.ttl
  artifacts/gx/update-from-submodule.sh
Due: none

feat: add HTTP artifact resolution for pip-only installations (#57)
  src/tools/utils/graph_loader.py
  src/tools/utils/http_artifact_resolver.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

feat(gx): embed owl:versionInfo in generated gx.owl.ttl (#60)
  artifacts/gx/update-from-submodule.sh
Due: none

fix(http): pin raw GitHub fetches to registry release tag
  src/tools/utils/http_artifact_resolver.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

fix(http): pin raw GitHub fetches to registry release tag (#62)
  src/tools/utils/http_artifact_resolver.py
  tests/unit/utils/test_http_artifact_resolver.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-context: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-properties: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-readme: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
