Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python3 -m src.tools.validators.syntax_validator --json
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python3 -m src.tools.validators.syntax_validator --turtle
  language: system

update-context:
  name: Update JSON-LD Contexts
  entry: python3 -m src.tools.utils.context_generator --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-registry:
  name: Update Ontology Registry and Catalog
  entry: python3 -m src.tools.utils.registry_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-properties:
  name: Update Properties Documentation
  entry: python3 -m src.tools.utils.properties_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README Catalog Table
  entry: python3 -m src.tools.utils.readme_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(openlabel): add structural LinkML schema for ASAM v1 JSON format
  .pre-commit-config.yaml
  Makefile
  artifacts/openlabel-v2/openlabel-v2.schema.json
  linkml/openlabel-v2/SCHEMA_MODELING.md
  linkml/openlabel-v2/openlabel-v2-schema.yaml
  scripts/convert_openlabel_v1_to_v2.py
  scripts/sync_tag_type_enum.py
  tests/unit/test_openlabel_schema.py
Due: black, isort, flake8, jsonld-lint

fix(openlabel): resolve audit findings on v1 structural schema
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.schema.json
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/SCHEMA_MODELING.md
  linkml/openlabel-v2/openlabel-v2-schema.yaml
  linkml/openlabel-v2/openlabel-v2.yaml
  scripts/sync_tag_type_enum.py
  tests/unit/test_openlabel_schema.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(openlabel): resolve review findings on v1 structural schema scripts
  linkml/openlabel-v2/SCHEMA_MODELING.md
  scripts/convert_openlabel_v1_to_v2.py
  scripts/sync_tag_type_enum.py
  tests/unit/test_openlabel_schema.py
Due: black, isort, flake8

test(openlabel-v2): prove LinkML schema is a sound refinement of ASAM
  Makefile
  artifacts/openlabel-v2/openlabel-v2.schema.json
  linkml/openlabel-v2/REFINEMENT_PROOF.md
  linkml/openlabel-v2/SCHEMA_MODELING.md
  linkml/openlabel-v2/jsonschema.genopts
  linkml/openlabel-v2/proof_seeds/8.2.4_rainfall_value.json
  linkml/openlabel-v2/proof_seeds/8.2.5_numeric_range.json
  linkml/openlabel-v2/proof_seeds/8.6_minimal.json
  linkml/openlabel-v2/proof_seeds/8.8.1_full_scenario.json
  linkml/openlabel-v2/proof_spec.yaml
  pyproject.toml
  scripts/gen_json_schema.py
  scripts/schema_refinement_prover.py
  tests/unit/test_schema_refinement.py
Due: black, isort, flake8, jsonld-lint

fix(inference): entail rdfs:range types for blank-node objects
  src/tools/validators/shacl/inference.py
  tests/data/envited-x/invalid/fail_02_missing_iri_manifest_link_instance.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/manifest/invalid/fail_04_missing_id_mimeType_ldjson_instance.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/unit/validators/shacl/test_inference.py
Due: black, isort, flake8

chore(gx): refresh Gaia-X artifacts from service-characteristics v2.2.1
  .gitmodules
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

docs(inference): cross-reference the canonical range-rule rationale in the transitive variant
  src/tools/validators/shacl/inference.py
Due: black, isort, flake8

fix(inference): rdfs:range entailment for blank nodes (+ gx refresh to v2.2.1) (#83)
  .gitmodules
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  src/tools/validators/shacl/inference.py
  tests/data/envited-x/invalid/fail_02_missing_iri_manifest_link_instance.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/manifest/invalid/fail_04_missing_id_mimeType_ldjson_instance.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/unit/validators/shacl/test_inference.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): tighten structural schema to a near-strict ASAM refinement
  Makefile
  artifacts/openlabel-v2/openlabel-v2.schema.json
  linkml/openlabel-v2/REFINEMENT_PROOF.md
  linkml/openlabel-v2/SCHEMA_MODELING.md
  linkml/openlabel-v2/jsonschema.genopts
  linkml/openlabel-v2/openlabel-v2-schema.yaml
  linkml/openlabel-v2/proof_spec.yaml
  pyproject.toml
  scripts/gen_json_schema.py
  scripts/schema_refinement_prover.py
  tests/unit/test_schema_refinement.py
Due: black, isort, flake8, jsonld-lint

feat(validators): support check-failing-tests in data-paths mode + --update-expected
  src/tools/utils/registry_resolver.py
  src/tools/validators/validation_suite.py
Due: black, isort, flake8

chore(artifacts): regenerate openlabel-v2 OWL/SHACL for linkml fork 6aa7702c
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

feat(validators): support check-failing-tests in data-paths mode + --update-expected (#84)
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  src/tools/utils/registry_resolver.py
  src/tools/validators/validation_suite.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): infer nested node types via RDFS, drop redundant @type
  .github/copilot-instructions.md
  .github/instructions/linkml-fork-workflow.md
  AGENTS.md
  CLAUDE.md
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.schema.json
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2-schema.yaml
  linkml/openlabel-v2/openlabel-v2.yaml
  scripts/sync_tag_type_enum.py
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.json
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.json
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.json
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.json
  tests/data/openlabel-v2/invalid/fail13_quantitativevalue_inferred_missing_max.expected
  tests/data/openlabel-v2/invalid/fail13_quantitativevalue_inferred_missing_max.json
  tests/data/openlabel-v2/valid/openlabel-v2_comprehensive_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_cross_test_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(api): add pure validate_data() API for embedding OMB
  src/tools/api.py
  src/tools/utils/registry_resolver.py
  tests/test_api.py
Due: black, isort, flake8

feat(report): add shape/type-routing metadata to ValidationResult
  src/tools/core/result.py
  src/tools/validators/shacl/validator.py
  tests/test_report_model.py
Due: black, isort, flake8

refactor(paths): introduce builtin_data_root() seam for package data
  src/tools/core/paths.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/validation_suite.py
  tests/test_builtin_data_root.py
Due: black, isort, flake8

refactor(deps): split publication stack into a [publish] extra
  pyproject.toml
  tests/test_dependencies.py
Due: black, isort, flake8

Embeddable validation API + packaging foundations (#85)
  pyproject.toml
  src/tools/api.py
  src/tools/core/paths.py
  src/tools/core/result.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/test_api.py
  tests/test_builtin_data_root.py
  tests/test_dependencies.py
  tests/test_report_model.py
Due: black, isort, flake8

refactor: route dev generators through the builtin_data_root() seam
  omb/utils/class_page_generator.py
  omb/utils/context_generator.py
  omb/utils/properties_updater.py
  omb/utils/registry_updater.py
  tests/unit/utils/test_generator_seam.py
Due: black, isort, flake8

build: ship built-in data in the wheel via hatchling force-include
  .gitignore
  omb/core/paths.py
  pyproject.toml
Due: black, isort, flake8

test: add repeatable isolated-install proof for the wheel
  scripts/verify_wheel_install.py
Due: black, isort, flake8

refactor(version): single-source the package version from pyproject.toml
  omb/__init__.py
  pyproject.toml
  tests/unit/test_tools_packages.py
Due: black, isort, flake8

feat(cli): support `python -m omb` as an alias for onto-validate
  omb/__main__.py
  tests/unit/test_main_module.py
Due: black, isort, flake8

ci(release): add PyPI trusted-publishing workflow (cd-pypi.yml)
  .github/workflows/cd-pypi.yml
  docs/ecosystem/release-process.md
Due: none

style: ruff-format hooks/copy_artifacts.py after the omb.* import rename
  hooks/copy_artifacts.py
Due: black, isort, flake8

build: add uv-based justfile task runner
  justfile
  uv.lock
Due: none

ci: run the pre-commit generate hook via just
  .pre-commit-config.yaml
Due: none

ci: drive the quality workflow through just + uv
  .github/workflows/ci-quality.yml
Due: none

build: drop the Makefile in favour of just
  Makefile
Due: none

docs: replace make commands with just
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  README.md
  artifacts/gx/README.md
  artifacts/gx/VERSIONING.md
  artifacts/gx/update-from-submodule.sh
  artifacts/gx/verify-version.sh
  docs/ecosystem/release-process.md
  docs/getting-started/install-test-build.md
  linkml/openlabel-v2/IMPROVEMENTS.md
Due: none

feat: add `just validate-file` recipe for single-file validation
  README.md
  justfile
Due: none

docs: use `just` recipes in repo-dev docs
  .github/copilot-instructions.md
  .github/instructions/testing.md
  .github/instructions/validation-workflow.md
  AGENTS.md
  CLAUDE.md
  README.md
  docs/discovery/registry-json.md
  docs/getting-started/contribute.md
  docs/getting-started/install-test-build.md
  docs/ontologies/catalog.md
  docs/validation/coherence.md
  docs/validation/conformance.md
  docs/validation/suite.md
  docs/validation/syntax.md
Due: none

fix(packaging): move dev tooling to a dependency group so the wheel is PyPI-uploadable
  .github/workflows/cd-pypi.yml
  .github/workflows/ci-quality.yml
  justfile
  pyproject.toml
  tests/test_dependencies.py
  uv.lock
Due: black, isort, flake8

fix(packaging): move dev tooling to a dependency group so the wheel is PyPI-uploadable (#87)
  .github/workflows/cd-pypi.yml
  .github/workflows/ci-quality.yml
  justfile
  pyproject.toml
  tests/test_dependencies.py
  uv.lock
Due: black, isort, flake8

fix(report): render external data paths relative to CWD, not the install root
  omb/utils/print_formatter.py
  tests/unit/utils/test_print_formatter.py
Due: black, isort, flake8

fix(report): render external data paths relative to CWD, not the install root (#88)
  omb/utils/print_formatter.py
  tests/unit/utils/test_print_formatter.py
Due: black, isort, flake8

chore: remove unused submodules/linkml gitlink
  .gitmodules
Due: none

chore: remove unused submodules/linkml gitlink (#89)
  .gitmodules
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-context: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-properties: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-readme: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
