Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python3 -m src.tools.validators.syntax_validator --json
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python3 -m src.tools.validators.syntax_validator --turtle
  language: system

update-context:
  name: Update JSON-LD Contexts
  entry: python3 -m src.tools.utils.context_generator --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-registry:
  name: Update Ontology Registry and Catalog
  entry: python3 -m src.tools.utils.registry_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-properties:
  name: Update Properties Documentation
  entry: python3 -m src.tools.utils.properties_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README Catalog Table
  entry: python3 -m src.tools.utils.readme_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

style: reformat test fixture to 3-space indent with LF endings
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
Due: jsonld-lint

fix: use python instead of python3 in pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: use python instead of python3 in pre-commit hooks (#25)
  .pre-commit-config.yaml
Due: none

fix(scenario): remove dead sh:ignoredProperties and add misspelling test (#23)
  artifacts/scenario/scenario.shacl.ttl
  tests/catalog-v001.xml
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.expected
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(data): compact JSON-LD integer/boolean values and fix xsd:unsignedInt regression
  tests/data/environment-model/valid/environment-model_instance.json
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.json
  tests/data/hdmap/valid/hdmap_instance.json
  tests/data/hdmap/valid/hdmap_no_georeference_instance.json
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/simulation-model/valid/simulation-model_instance.json
  tests/data/tzip21/valid/tzip21_instance.json
  tests/data/vv-report/valid/vv-report_instance.json
Due: jsonld-lint

fix(data): compact JSON-LD integer/boolean values and fix xsd:unsignedInt regression (#27)
  tests/data/environment-model/valid/environment-model_instance.json
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.json
  tests/data/hdmap/valid/hdmap_instance.json
  tests/data/hdmap/valid/hdmap_no_georeference_instance.json
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/simulation-model/valid/simulation-model_instance.json
  tests/data/tzip21/valid/tzip21_instance.json
  tests/data/vv-report/valid/vv-report_instance.json
Due: jsonld-lint

feat(scenario): improve ontology quality and fix mandatory sub-shapes
  artifacts/scenario/scenario.context.jsonld
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  imports/OpenScenario/OpenSCENARIO.xsd
  src/tools/utils/xsd_enum_extractor.py
  src/tools/utils/xsd_shacl_sync.py
  tests/catalog-v001.xml
  tests/data/scenario/valid/scenario_minimal_instance.json
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

chore: regenerate catalog and properties from pre-commit hooks
  artifacts/scenario/PROPERTIES.md
  tests/catalog-v001.xml
Due: none

feat(scenario): improve ontology quality and fix mandatory sub-shapes (#26)
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.context.jsonld
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  imports/OpenScenario/OpenSCENARIO.xsd
  src/tools/utils/xsd_enum_extractor.py
  src/tools/utils/xsd_shacl_sync.py
  tests/catalog-v001.xml
  tests/data/scenario/valid/scenario_minimal_instance.json
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

refactor(validators): replace hardcoded well-known prefixes with catalog lookup
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/schema_discovery.py
  tests/unit/utils/test_registry_resolver.py
  tests/unit/validators/shacl/test_schema_discovery.py
Due: black, isort, flake8

refactor(tests): simplify prefixed properties and add invalid test cases
  README.md
  artifacts/leakage-test/PROPERTIES.md
  artifacts/leakage-test/leakage-test.shacl.ttl
  tests/catalog-v001.xml
  tests/data/automotive-simulator/valid/automotive-simulator_instance.json
  tests/data/environment-model/valid/environment-model_instance.json
  tests/data/envited-x/valid/envited-x_inline_instance.json
  tests/data/envited-x/valid/envited-x_instance.json
  tests/data/general/invalid/fail01_wrong_recording_time.expected
  tests/data/general/invalid/fail01_wrong_recording_time.json
  tests/data/hdmap/valid/hdmap_instance.json
  tests/data/hdmap/valid/hdmap_no_georeference_instance.json
  tests/data/leakage-test/valid/leakage-test_instance.json
  tests/data/manifest/invalid/fail_07_wrong_filesize_instance.expected
  tests/data/manifest/invalid/fail_07_wrong_filesize_instance.json
  tests/data/manifest/invalid/fail_08_wrong_filename_instance.expected
  tests/data/manifest/invalid/fail_08_wrong_filename_instance.json
  tests/data/manifest/valid/manifest_instance.json
  tests/data/ositrace/valid/ositrace_instance.json
  tests/data/ositrace/valid/ositrace_mcap_instance.json
  tests/data/scenario/invalid/fail06_string_value_for_float.json
  tests/data/scenario/invalid/fail07_boolean_value_for_float.json
  tests/data/scenario/invalid/fail08_string_value_for_integer.json
  tests/data/scenario/invalid/fail09_float_value_for_integer.json
  tests/data/scenario/invalid/fail11_object_value_for_literal.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/service/valid/service_instance.json
  tests/data/simulated-sensor/valid/simulated-sensor_instance.json
  tests/data/simulation-model/valid/simulation-model_instance.json
  tests/data/surface-model/valid/surface-model_instance.json
  tests/data/survey/valid/survey-result-data-offering_instance.json
  tests/data/survey/valid/survey-service-offering_instance.json
  tests/data/vv-report/valid/vv-report_instance.json
  tests/integration/test_context_roundtrip.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(ontology): add LinkML-based OpenLabel v2 ontology
  .pre-commit-config.yaml
  Makefile
  README.md
  artifacts/catalog-v001.xml
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  artifacts/openlabel/PROPERTIES.md
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/openlabel/openlabel.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/registry.json
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/IMPROVEMENTS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  pyproject.toml
  src/tools/utils/context_generator.py
  src/tools/utils/registry_updater.py
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
  tests/integration/test_context_roundtrip.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ci): only publish w3id artifacts from release tags
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
Due: none

fix(openlabel): update test instances for boolean-to-enum SHACL changes
  .gitmodules
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
Due: jsonld-lint

feat(openlabel-v2): restore sh:or QuantitativeValue support via LinkML any_of
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/registry.json
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): add see_also, conditional rules, and deterministic generation
  Makefile
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  hooks/__init__.py
  hooks/normalize_linkml_output.py
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/IMPROVEMENTS.md
  linkml/openlabel-v2/openlabel-v2.yaml
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

feat: add sunrise_ontology as submodule for comparative analysis
  .gitmodules
Due: none

fix(ontology): update stale hdmap/v5 and scenario/v5 references to v6
  artifacts/georeference/georeference.owl.ttl
  artifacts/hdmap/README.md
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/README.md
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  artifacts/tzip21/PROPERTIES.md
  artifacts/tzip21/tzip21.owl.ttl
  artifacts/tzip21/tzip21.shacl.ttl
  config/ontoenv.toml
  docs/registry.json
  pyproject.toml
  tests/data/tzip21/valid/tzip21_instance.json
  tests/fixtures/scenario_manifest_reference.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ontology): update stale hdmap/v5 and scenario/v5 references to v6 (#32)
  artifacts/georeference/georeference.owl.ttl
  artifacts/hdmap/README.md
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/README.md
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  artifacts/tzip21/PROPERTIES.md
  artifacts/tzip21/tzip21.owl.ttl
  artifacts/tzip21/tzip21.shacl.ttl
  config/ontoenv.toml
  docs/registry.json
  pyproject.toml
  tests/data/tzip21/valid/tzip21_instance.json
  tests/fixtures/scenario_manifest_reference.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ci): correct release notes generation for manual triggers
  .github/workflows/cd-release.yml
  cliff.toml
  docs/ecosystem/release-process.md
  docs/getting-started/contribute.md
  mkdocs.yml
Due: none

fix(ci): correct release notes generation for manual triggers (#33)
  .github/workflows/cd-release.yml
  cliff.toml
  docs/ecosystem/release-process.md
  docs/getting-started/contribute.md
  mkdocs.yml
Due: none

feat(ontology): add LinkML-based OpenLabel v2 ontology (#29)
  .gitmodules
  .pre-commit-config.yaml
  Makefile
  README.md
  artifacts/catalog-v001.xml
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  artifacts/openlabel/PROPERTIES.md
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/openlabel/openlabel.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/registry.json
  hooks/__init__.py
  hooks/normalize_linkml_output.py
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/IMPROVEMENTS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  pyproject.toml
  src/tools/utils/context_generator.py
  src/tools/utils/registry_updater.py
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
  tests/integration/test_context_roundtrip.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(gx): replace non-standard httpsschema prefix with schema
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/openlabel-v2/PROPERTIES.md
  docs/ontologies/properties.md
  docs/registry.json
Due: jsonld-lint, update-registry, update-properties, update-readme

fix(docs): resolve MkDocs strict-mode warnings breaking docs CI
  docs/ecosystem/release-process.md
  docs/ontologies/properties/gx.md
  hooks/copy_artifacts.py
  mkdocs.yml
  src/tools/utils/class_page_generator.py
Due: black, isort, flake8

fix(gx): replace non-standard httpsschema prefix with schema (#34)
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/openlabel-v2/PROPERTIES.md
  docs/ecosystem/release-process.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  hooks/copy_artifacts.py
  mkdocs.yml
  src/tools/utils/class_page_generator.py
Due: black, isort, flake8, jsonld-lint, update-registry, update-properties, update-readme

fix(imports): replace OWL ontology contexts with W3C JSON-LD contexts
  imports/cred/cred.context.jsonld
  imports/cs/cs.context.jsonld
Due: none

feat(imports): add DID, security, and schema.org JSON-LD contexts
  imports/catalog-v001.xml
  imports/did/did.context.jsonld
  imports/schema/schema.context.jsonld
  imports/sec/sec.context.jsonld
Due: none

fix(imports): add OWL stubs for did/sec, fix json formatting
  README.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  config/ontoenv.toml
  imports/catalog-v001.xml
  imports/cred/cred.context.jsonld
  imports/cs/cs.context.jsonld
  imports/did/did.context.jsonld
  imports/did/did.owl.ttl
  imports/schema/schema.context.jsonld
  imports/schema/schema.owl.ttl
  imports/sec/sec.context.jsonld
  imports/sec/sec.owl.ttl
Due: turtle-lint, update-registry, update-properties, update-readme

fix(imports): replace OWL ontology contexts with W3C JSON-LD contexts (#35)
  README.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  config/ontoenv.toml
  imports/catalog-v001.xml
  imports/cred/cred.context.jsonld
  imports/cs/cs.context.jsonld
  imports/did/did.context.jsonld
  imports/did/did.owl.ttl
  imports/schema/schema.context.jsonld
  imports/schema/schema.owl.ttl
  imports/sec/sec.context.jsonld
  imports/sec/sec.owl.ttl
Due: turtle-lint, update-registry, update-properties, update-readme

refactor: migrate from flake8+black+isort to ruff
  .flake8
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Makefile
  pyproject.toml
  src/tools/uploaders/fc_upload_with_update.py
  src/tools/utils/class_page_generator.py
  src/tools/utils/print_formatter.py
  src/tools/utils/xsd_enum_extractor.py
  src/tools/utils/xsd_shacl_sync.py
Due: black, isort, flake8

fix: apply ruff format to test files
  tests/integration/test_context_roundtrip.py
  tests/unit/utils/test_xsd_shacl_sync.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

refactor: migrate from flake8+black+isort to ruff (#36)
  .flake8
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  Makefile
  pyproject.toml
  src/tools/uploaders/fc_upload_with_update.py
  src/tools/utils/class_page_generator.py
  src/tools/utils/print_formatter.py
  src/tools/utils/xsd_enum_extractor.py
  src/tools/utils/xsd_shacl_sync.py
  tests/integration/test_context_roundtrip.py
  tests/unit/utils/test_xsd_shacl_sync.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

fix(ci): replace broken gh-pages persistence with w3id-content branch
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
Due: none

fix(ci): replace broken gh-pages persistence with w3id-content branch (#37)
  .github/workflows/cd-docs.yml
  .github/workflows/cd-release.yml
Due: none

fix(ci): use HTTPS URLs for submodules
  .gitmodules
Due: none

fix(validation): discover referenced schemas from catalog IRIs
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  imports/catalog-v001.xml
  src/tools/utils/graph_loader.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/shacl/schema_discovery.py
  src/tools/validators/shacl/validator.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/validators/shacl/test_schema_discovery.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-context: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-properties: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-readme: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
