Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--config=pyproject.toml"]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--settings=pyproject.toml"]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ["--config=.flake8"]
        pass_filenames: true

      - id: jsonld-lint
        name: JSON-LD Parser
        entry: python3 -m src.tools.validators.syntax_validator --json
        language: system
        types: [json]
        files: \.(json|jsonld)$

      - id: turtle-lint
        name: Turtle Parser
        entry: python3 -m src.tools.validators.syntax_validator --turtle
        language: system
        types: [text]
        files: \.(ttl)$

      - id: update-context
        name: Update JSON-LD Contexts
        entry: python3 -m src.tools.utils.context_generator --all
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
        stages: [pre-commit]

      - id: update-registry
        name: Update Ontology Registry and Catalog
        entry: python3 -m src.tools.utils.registry_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

      - id: update-properties
        name: Update Properties Documentation
        entry: python3 -m src.tools.utils.properties_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

      - id: update-readme
        name: Update README Catalog Table
        entry: python3 -m src.tools.utils.readme_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: pretty-format-json
        args: ["--autofix", "--indent", "3", "--no-sort-keys"]
        files: \.(json|jsonld)$
      - id: mixed-line-ending
        args: ["--fix=lf"]

refactor(imports): take ASAM schemas from the standards submodule, bump to ODR 1.9.0 / OSC XML 1.4.0
  imports/OpenDrive/xsd_schema/OpenDRIVE_Core.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Junction.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Lane.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Object.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Railroad.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Road.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Signal.xsd
  imports/OpenScenario/OpenSCENARIO.xsd
  imports/README.md
  omb/core/constants.py
  omb/utils/xsd_enum_extractor.py
  omb/utils/xsd_shacl_sync.py
  tests/unit/utils/test_xsd_enum_extractor.py
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8

refactor(imports): take ASAM schemas from the standards submodule, bump to ODR 1.9.0 / OSC XML 1.4.0 (#95)
  imports/OpenDrive/xsd_schema/OpenDRIVE_Core.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Junction.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Lane.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Object.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Railroad.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Road.xsd
  imports/OpenDrive/xsd_schema/OpenDRIVE_Signal.xsd
  imports/OpenScenario/OpenSCENARIO.xsd
  imports/README.md
  omb/core/constants.py
  omb/utils/xsd_enum_extractor.py
  omb/utils/xsd_shacl_sync.py
  tests/unit/utils/test_xsd_enum_extractor.py
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8

fix(ositrace): complete the ASAM OSI enumerations and express the trace serializations
  artifacts/ositrace/PROPERTIES.md
  artifacts/ositrace/ositrace.shacl.ttl
  tests/catalog-v001.xml
  tests/data/ositrace/invalid/fail01_mcap_missing_topic.expected
  tests/data/ositrace/valid/ositrace_txth_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ositrace,hdmap): complete the OpenDRIVE enumerations and correct their citations
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/ositrace/PROPERTIES.md
  artifacts/ositrace/ositrace.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ositrace,hdmap): cite ASAM OpenDRIVE V1.9.0 and correct the deprecation facts
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/ositrace/PROPERTIES.md
  artifacts/ositrace/ositrace.shacl.ttl
  tests/data/ositrace/valid/ositrace_txth_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ositrace,hdmap): state the fileFormat narrowing and pin the deprecated keywords
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/ositrace/PROPERTIES.md
  artifacts/ositrace/ositrace.shacl.ttl
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail04_unknown_lanelet_formattype.expected
  tests/data/hdmap/invalid/fail04_unknown_lanelet_formattype.json
  tests/data/hdmap/valid/hdmap_lanelet2_instance.json
  tests/data/ositrace/invalid/fail02_singlechannel_bad_fileformat.expected
  tests/data/ositrace/invalid/fail02_singlechannel_bad_fileformat.json
  tests/data/ositrace/valid/ositrace_legacy_deprecated_keywords_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ositrace,hdmap): complete the ASAM OpenDRIVE and OSI enumerations and correct their citations (#91)
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/ositrace/PROPERTIES.md
  artifacts/ositrace/ositrace.shacl.ttl
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail04_unknown_lanelet_formattype.expected
  tests/data/hdmap/invalid/fail04_unknown_lanelet_formattype.json
  tests/data/hdmap/valid/hdmap_lanelet2_instance.json
  tests/data/ositrace/invalid/fail02_singlechannel_bad_fileformat.expected
  tests/data/ositrace/invalid/fail02_singlechannel_bad_fileformat.json
  tests/data/ositrace/valid/ositrace_legacy_deprecated_keywords_instance.json
  tests/data/ositrace/valid/ositrace_txth_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): make the OpenDRIVE version dispatch actually constrain the enums
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.json
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.expected
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.json
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.json
  tests/data/hdmap/valid/hdmap_v14_custom_objecttype_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): make the OpenDRIVE version dispatch actually constrain the enums (#93)
  artifacts/hdmap/PROPERTIES.md
  artifacts/hdmap/hdmap.shacl.ttl
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.json
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.expected
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.json
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.json
  tests/data/hdmap/valid/hdmap_v14_custom_objecttype_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(tools): make the XSD-SHACL sync check work, cover ositrace, and run it in CI
  justfile
  omb/utils/xsd_shacl_sync.py
  tests/unit/artifacts/test_enum_drift.py
  tests/unit/uploaders/test_fc_upload_with_update.py
Due: black, isort, flake8

test(artifacts): guard the ASAM enumerations against drift and run pytest in CI
  .github/workflows/ci-quality.yml
  justfile
  omb/utils/http_artifact_resolver.py
  tests/unit/artifacts/__init__.py
  tests/unit/artifacts/test_enum_drift.py
Due: black, isort, flake8

fix(tests): skip the pinned-source contracts when the submodule is absent
  tests/unit/artifacts/test_enum_drift.py
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8

test(artifacts): guard the ASAM enumerations against drift and run pytest in CI (#92)
  .github/workflows/ci-quality.yml
  justfile
  omb/utils/http_artifact_resolver.py
  omb/utils/xsd_shacl_sync.py
  tests/unit/artifacts/__init__.py
  tests/unit/artifacts/test_enum_drift.py
  tests/unit/uploaders/test_fc_upload_with_update.py
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8

feat(validator): support sh:Warning as advisory, non-failing severity
  omb/utils/print_formatter.py
  omb/validators/shacl/validator.py
  omb/validators/validation_suite.py
  tests/unit/validators/shacl/test_warning_severity.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

feat(validator): support sh:Warning as advisory, non-failing severity (#94)
  omb/utils/print_formatter.py
  omb/validators/shacl/validator.py
  omb/validators/validation_suite.py
  tests/unit/validators/shacl/test_warning_severity.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

feat(scenario): complete entityTypes for ASAM OpenSCENARIO XML V1.4.0 and guard it
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.shacl.ttl
  omb/utils/xsd_shacl_sync.py
  tests/catalog-v001.xml
  tests/data/scenario/invalid/fail13_unknown_entity_type.expected
  tests/data/scenario/invalid/fail13_unknown_entity_type.json
  tests/data/scenario/valid/scenario_openscenario14_entity_types_instance.json
  tests/unit/artifacts/test_enum_drift.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(scenario): mark weatherConditions as not-set-equal, cover the union rule
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.shacl.ttl
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(scenario): complete entityTypes for ASAM OpenSCENARIO XML V1.4.0 and guard it (#97)
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.shacl.ttl
  omb/utils/xsd_shacl_sync.py
  tests/catalog-v001.xml
  tests/data/scenario/invalid/fail13_unknown_entity_type.expected
  tests/data/scenario/invalid/fail13_unknown_entity_type.json
  tests/data/scenario/valid/scenario_openscenario14_entity_types_instance.json
  tests/unit/artifacts/test_enum_drift.py
  tests/unit/utils/test_xsd_shacl_sync.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): open a deprecation window for the OpenDRIVE revision checks
  artifacts/hdmap/hdmap.shacl.ttl
  docs/ecosystem/maintenance.md
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.expected
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.expected
  tests/data/hdmap/valid/hdmap_v14_lane_type_from_v18_advisory_instance.json
  tests/data/hdmap/valid/hdmap_v14_road_type_from_v15_advisory_instance.json
  tests/data/hdmap/valid/hdmap_v16_lane_type_from_v18_advisory_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(hdmap): open a deprecation window for the OpenDRIVE revision checks (#98)
  artifacts/hdmap/hdmap.shacl.ttl
  docs/ecosystem/maintenance.md
  tests/catalog-v001.xml
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.expected
  tests/data/hdmap/invalid/fail02_custom_v15_objecttype.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail05_v14_lane_type_from_v18.expected
  tests/data/hdmap/invalid/fail06_v14_road_type_from_v15.expected
  tests/data/hdmap/invalid/fail07_v16_lane_type_from_v18.expected
  tests/data/hdmap/valid/hdmap_v14_lane_type_from_v18_advisory_instance.json
  tests/data/hdmap/valid/hdmap_v14_road_type_from_v15_advisory_instance.json
  tests/data/hdmap/valid/hdmap_v16_lane_type_from_v18_advisory_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel): add v3 structural validation + docker
  .dockerignore
  Dockerfile
  artifacts/catalog-v001.xml
  artifacts/openlabel-v3/openlabel-v3.context.jsonld
  artifacts/openlabel-v3/openlabel-v3.owl.ttl
  artifacts/openlabel-v3/openlabel-v3.schema.json
  artifacts/openlabel-v3/openlabel-v3.shacl.ttl
  compose.yaml
  pyproject.toml
  src/tools/validators/shacl/validator.py
  tests/catalog-v001.xml
  tests/data/openlabel-v3/invalid/fail01_action_type_not_behaviour.expected
  tests/data/openlabel-v3/invalid/fail01_action_type_not_behaviour.json
  tests/data/openlabel-v3/valid/urban-pedestrian-crossing.json
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(imports): add ASAM imports sync and check utilities
  .pre-commit-config.yaml
  justfile
  omb/utils/asam_imports.py
  omb/utils/registry_updater.py
  tests/integration/test_asam_imports.py
Due: black, isort, flake8

feat(imports): derive ASAM OpenDRIVE and OpenSCENARIO vocabularies
  imports/README.md
  imports/catalog-v001.xml
  imports/opendrive/README.md
  imports/opendrive/opendrive.owl.ttl
  imports/opendrive/opendrive.shacl.ttl
  imports/opendrive/schema/OpenDRIVE_Core.xsd
  imports/opendrive/schema/OpenDRIVE_Junction.xsd
  imports/opendrive/schema/OpenDRIVE_Lane.xsd
  imports/opendrive/schema/OpenDRIVE_Object.xsd
  imports/opendrive/schema/OpenDRIVE_Railroad.xsd
  imports/opendrive/schema/OpenDRIVE_Road.xsd
  imports/opendrive/schema/OpenDRIVE_Signal.xsd
  imports/openscenario/README.md
  imports/openscenario/openscenario.owl.ttl
  imports/openscenario/openscenario.shacl.ttl
  imports/openscenario/schema/OpenSCENARIO.xsd
Due: turtle-lint

chore: update configuration and lock files for ASAM imports
  .gitattributes
  .github/workflows/ci-quality.yml
  config/ontoenv.toml
  docs/registry.json
  omb/validators/coherence_validator.py
  pyproject.toml
  uv.lock
Due: black, isort, flake8, jsonld-lint

feat(imports): derive the ASAM OpenDRIVE and OpenSCENARIO vocabularies from the standards submodule (#96)
  .gitattributes
  .github/workflows/ci-quality.yml
  .pre-commit-config.yaml
  config/ontoenv.toml
  docs/registry.json
  imports/README.md
  imports/catalog-v001.xml
  imports/opendrive/README.md
  imports/opendrive/opendrive.owl.ttl
  imports/opendrive/opendrive.shacl.ttl
  imports/opendrive/schema/OpenDRIVE_Core.xsd
  imports/opendrive/schema/OpenDRIVE_Junction.xsd
  imports/opendrive/schema/OpenDRIVE_Lane.xsd
  imports/opendrive/schema/OpenDRIVE_Object.xsd
  imports/opendrive/schema/OpenDRIVE_Railroad.xsd
  imports/opendrive/schema/OpenDRIVE_Road.xsd
  imports/opendrive/schema/OpenDRIVE_Signal.xsd
  imports/openscenario/README.md
  imports/openscenario/openscenario.owl.ttl
  imports/openscenario/openscenario.shacl.ttl
  imports/openscenario/schema/OpenSCENARIO.xsd
  justfile
  omb/utils/asam_imports.py
  omb/utils/registry_updater.py
  omb/validators/coherence_validator.py
  pyproject.toml
  tests/integration/test_asam_imports.py
  uv.lock
Due: black, isort, flake8, jsonld-lint, turtle-lint

feat(openlabel-v2): add the structural JSON Schema for the ASAM file format
  .pre-commit-config.yaml
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.schema.json
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  justfile
  linkml/openlabel-v2/SCHEMA_MODELING.md
  linkml/openlabel-v2/jsonschema.genopts
  linkml/openlabel-v2/openlabel-v2-schema.yaml
  linkml/openlabel-v2/openlabel-v2.yaml
  scripts/convert_openlabel_v1_to_v2.py
  scripts/sync_tag_type_enum.py
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.json
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.json
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.json
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.json
  tests/data/openlabel-v2/invalid/fail13_quantitativevalue_inferred_missing_max.expected
  tests/data/openlabel-v2/invalid/fail13_quantitativevalue_inferred_missing_max.json
  tests/data/openlabel-v2/valid/openlabel-v2_comprehensive_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_cross_test_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
  tests/unit/test_openlabel_schema.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

chore: add a development container for the toolchain
  .dockerignore
  Dockerfile
  compose.yaml
Due: none

fix(container): make the development image build
  .dockerignore
  Dockerfile
  compose.yaml
Due: none

docs: explain how to run the toolchain in a container
  README.md
  docs/getting-started/container.md
  docs/getting-started/install-test-build.md
  mkdocs.yml
Due: none

fix(validation): run the negative tests in data-paths mode
  docs/validation/suite.md
  omb/validators/validation_suite.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

refactor(validation): pair a negative fixture with its snapshot, not its folder
  docs/validation/suite.md
  omb/core/negative_fixtures.py
  omb/utils/file_collector.py
  omb/utils/registry_resolver.py
  omb/utils/registry_updater.py
  omb/validators/validation_suite.py
  tests/unit/test_negative_fixture_pairing.py
  tests/unit/utils/test_registry_resolver.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

fix(container): run the dev image as a non-root user matching the host account
  Dockerfile
  compose.yaml
  docs/getting-started/container.md
Due: none

chore(container): drop the unused build-essential package
  Dockerfile
Due: none

ci: build and smoke-test the dev container image
  .github/workflows/ci-quality.yml
Due: none

docs(container): explain HOST_UID/HOST_GID matching on Windows
  docs/getting-started/container.md
Due: none

ci(container): add a Windows/Podman smoke test for the dev container
  .github/workflows/ci-quality.yml
  docs/getting-started/container.md
Due: none

chore: add a development container for the toolchain (#99)
  .dockerignore
  .github/workflows/ci-quality.yml
  Dockerfile
  README.md
  compose.yaml
  docs/getting-started/container.md
  docs/getting-started/install-test-build.md
  mkdocs.yml
Due: none

chore(gx): repin service-characteristics to upstream v2.5.0
  .gitignore
  .gitmodules
  CLAUDE.md
  README.md
  artifacts/gx/PROPERTIES.md
  artifacts/gx/README.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/VERSIONING.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  docs/gaiax/gx-integration-pattern.md
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  imports/schema/README.md
  justfile
  omb/utils/context_generator.py
  tests/data/gx/invalid/fail01_wrong_url_type.expected
  tests/data/gx/invalid/fail01_wrong_url_type.json
  tests/data/gx/valid/gx_data_resource_instance.json
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme
