Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python3 -m src.tools.validators.syntax_validator --json
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python3 -m src.tools.validators.syntax_validator --turtle
  language: system

update-context:
  name: Update JSON-LD Contexts
  entry: python3 -m src.tools.utils.context_generator --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-registry:
  name: Update Ontology Registry and Catalog
  entry: python3 -m src.tools.utils.registry_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-properties:
  name: Update Properties Documentation
  entry: python3 -m src.tools.utils.properties_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README Catalog Table
  entry: python3 -m src.tools.utils.readme_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(validation): correct return tuple in imports catalog error handler
  src/tools/utils/registry_resolver.py
Due: black, isort, flake8

style: format test_graph_loader with ruff
  tests/unit/utils/test_graph_loader.py
Due: black, isort, flake8

fix(imports): replace OWL stubs with upstream and add catalog hints
  imports/catalog-v001.xml
  imports/did/did.catalog-hints.ttl
  imports/did/did.owl.ttl
  imports/sec/sec.catalog-hints.ttl
  imports/sec/sec.owl.ttl
  src/tools/utils/registry_updater.py
  tests/unit/utils/test_registry_updater.py
Due: black, isort, flake8, turtle-lint

fix(validation): discover referenced schemas from catalog IRIs (#38)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  imports/did/did.catalog-hints.ttl
  imports/did/did.owl.ttl
  imports/sec/sec.catalog-hints.ttl
  imports/sec/sec.owl.ttl
  src/tools/utils/graph_loader.py
  src/tools/utils/registry_resolver.py
  src/tools/utils/registry_updater.py
  src/tools/validators/shacl/schema_discovery.py
  src/tools/validators/shacl/validator.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/utils/test_registry_updater.py
  tests/unit/validators/shacl/test_schema_discovery.py
Due: black, isort, flake8, turtle-lint

fix: harden validation and generation workflows
  Makefile
  hooks/normalize_linkml_output.py
  imports/catalog-v001.xml
  imports/schema/schema.catalog-hints.ttl
  src/tools/utils/graph_loader.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/coherence_validator.py
  src/tools/validators/validation_suite.py
  tests/unit/hooks/test_normalize_linkml_output.py
  tests/unit/utils/test_context_resolver.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/utils/test_registry_resolver.py
  tests/unit/validators/test_coherence_validator.py
Due: black, isort, flake8, turtle-lint

fix(validation): keep explicit data inputs isolated
  src/tools/utils/file_collector.py
  tests/unit/utils/test_file_collector.py
Due: black, isort, flake8

refactor(make): replace legacy targets with grouped command centers
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  docs/getting-started/install-test-build.md
Due: none

fix(ci): align pre-commit make environment
  .github/workflows/ci-quality.yml
  src/tools/utils/file_collector.py
Due: black, isort, flake8

fix: harden validation and generation workflows (#39)
  .github/copilot-instructions.md
  .github/workflows/ci-quality.yml
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  docs/getting-started/install-test-build.md
  hooks/normalize_linkml_output.py
  imports/catalog-v001.xml
  imports/schema/schema.catalog-hints.ttl
  src/tools/utils/file_collector.py
  src/tools/utils/graph_loader.py
  src/tools/utils/registry_resolver.py
  src/tools/validators/coherence_validator.py
  src/tools/validators/validation_suite.py
  tests/unit/hooks/test_normalize_linkml_output.py
  tests/unit/utils/test_context_resolver.py
  tests/unit/utils/test_file_collector.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/utils/test_registry_resolver.py
  tests/unit/validators/test_coherence_validator.py
Due: black, isort, flake8, turtle-lint

fix(gx): generate artifacts from submodule pipeline
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/README.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSIONING.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/gx/verify-version.sh
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix(validation): align schema.org prefixes across artifacts
  artifacts/envited-x/PROPERTIES.md
  artifacts/envited-x/envited-x.shacl.ttl
  artifacts/openlabel/PROPERTIES.md
  artifacts/openlabel/openlabel.shacl.ttl
  tests/data/automotive-simulator/valid/automotive-simulator_instance.json
  tests/data/gx/valid/gx_data_resource_instance.json
  tests/data/leakage-test/valid/leakage-test_instance.json
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/invalid/fail03_prefixed_float_bypass_coercion.json
  tests/data/scenario/invalid/fail04_prefixed_geo_bypass_coercion.json
  tests/data/scenario/invalid/fail05_prefixed_filepath_bypass_coercion.json
  tests/data/scenario/invalid/fail06_string_value_for_float.json
  tests/data/scenario/invalid/fail07_boolean_value_for_float.json
  tests/data/scenario/invalid/fail08_string_value_for_integer.json
  tests/data/scenario/invalid/fail09_float_value_for_integer.json
  tests/data/scenario/invalid/fail11_object_value_for_literal.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/service/valid/service_instance.json
  tests/data/simulation-model/valid/simulation-model_instance.json
  tests/data/survey/valid/survey-service-offering_instance.json
  tests/data/vv-report/valid/vv-report_instance.json
  tests/fixtures/gx_legalperson_reference.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(docs): preserve authored prefixes in properties output
  artifacts/envited-x/PROPERTIES.md
  artifacts/openlabel/PROPERTIES.md
  src/tools/utils/properties_updater.py
  tests/unit/utils/test_properties_updater.py
Due: black, isort, flake8

docs(properties): regenerate prefix sections
  artifacts/automotive-simulator/PROPERTIES.md
  artifacts/description/PROPERTIES.md
  artifacts/environment-model/PROPERTIES.md
  artifacts/example/PROPERTIES.md
  artifacts/general/PROPERTIES.md
  artifacts/georeference/PROPERTIES.md
  artifacts/gx/PROPERTIES.md
  artifacts/hdmap/PROPERTIES.md
  artifacts/leakage-test/PROPERTIES.md
  artifacts/manifest/PROPERTIES.md
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/ositrace/PROPERTIES.md
  artifacts/scenario/PROPERTIES.md
  artifacts/service/PROPERTIES.md
  artifacts/simulated-sensor/PROPERTIES.md
  artifacts/simulation-model/PROPERTIES.md
  artifacts/surface-model/PROPERTIES.md
  artifacts/survey/PROPERTIES.md
  artifacts/tzip21/PROPERTIES.md
  artifacts/vv-report/PROPERTIES.md
Due: none

feat(resolver): add online did:web resolution with SSRF hardening
  src/tools/core/iri_utils.py
  src/tools/utils/context_resolver.py
  src/tools/utils/graph_loader.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/unit/core/test_iri_utils.py
  tests/unit/utils/test_context_resolver.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

build: pin linkml to ASCS-eV fork with generator fixes
  .gitmodules
  pyproject.toml
Due: none

fix(gx): regenerate artifacts and fix gx:url test data
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/properties.md
  tests/catalog-v001.xml
  tests/data/gx/invalid/fail01_wrong_url_type.expected
  tests/data/gx/invalid/fail01_wrong_url_type.json
  tests/data/service/valid/service_instance.json
  tests/data/survey/valid/survey-service-offering_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(context): correct type coercion in generated JSON-LD contexts
  artifacts/general/general.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/tzip21/tzip21.context.jsonld
  src/tools/utils/context_generator.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, update-registry, update-properties, update-readme

refactor(data): use compact JSON-LD form in test instances
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
  tests/data/tzip21/valid/tzip21_instance.json
Due: jsonld-lint

test: add type coercion regression tests
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.json
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.expected
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.json
  tests/data/openlabel/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel/invalid/fail03_string_for_boolean.json
  tests/integration/test_context_shacl_coherence.py
Due: black, isort, flake8, jsonld-lint

feat(resolver): add online did:web resolution with SSRF hardening (#41)
  src/tools/core/iri_utils.py
  src/tools/utils/context_resolver.py
  src/tools/utils/graph_loader.py
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
  tests/unit/core/test_iri_utils.py
  tests/unit/utils/test_context_resolver.py
  tests/unit/utils/test_graph_loader.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

fix: correct JSON-LD context coercion and simplify test data (#42)
  .gitmodules
  artifacts/general/general.context.jsonld
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel/openlabel.context.jsonld
  artifacts/tzip21/tzip21.context.jsonld
  docs/ontologies/properties.md
  pyproject.toml
  src/tools/utils/context_generator.py
  tests/catalog-v001.xml
  tests/data/gx/invalid/fail01_wrong_url_type.expected
  tests/data/gx/invalid/fail01_wrong_url_type.json
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.json
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.expected
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
  tests/data/openlabel/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel/invalid/fail02_decimal_for_integer.json
  tests/data/openlabel/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel/invalid/fail03_string_for_boolean.json
  tests/data/openlabel/valid/openlabel_instance.json
  tests/data/service/valid/service_instance.json
  tests/data/survey/valid/survey-service-offering_instance.json
  tests/data/tzip21/valid/tzip21_instance.json
  tests/integration/test_context_shacl_coherence.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

chore: update LinkML Compiler and regerenerate gx/openlabelv2
  artifacts/gx/PROPERTIES.md
  artifacts/gx/README.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/VERSIONING.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

chore: update LinkML Compiler and regerenerate gx/openlabelv2 (#43)
  artifacts/gx/PROPERTIES.md
  artifacts/gx/README.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/VERSIONING.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix: update LinkML pin, fix Makefile quoting, regenerate GX artifacts
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  pyproject.toml
  src/tools/utils/readme_updater.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: update LinkML pin, fix Makefile quoting, regenerate GX artifacts (#44)
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  pyproject.toml
  src/tools/utils/readme_updater.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: update linkml pin and enable deterministic output
  Makefile
Due: none

fix: update linkml pin and enable deterministic output (#45)
  Makefile
Due: none

chore: deterministic GX pipeline, remove normalize script
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  hooks/normalize_linkml_output.py
  linkml/openlabel-v2/IMPROVEMENTS.md
  tests/unit/hooks/test_normalize_linkml_output.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: regenerate openlabel-v2 artifacts without normalize script
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

chore: use WL deterministic pipeline for GX artifacts (#46)
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  hooks/normalize_linkml_output.py
  linkml/openlabel-v2/IMPROVEMENTS.md
  tests/unit/hooks/test_normalize_linkml_output.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: regenerate artifacts with rebuilt linkml feat/harbour-credentials
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

chore: add --normalize-prefixes flag and regenerate artifacts
  Makefile
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail04_wrong_literal_types.expected
  tests/integration/test_context_shacl_coherence.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme

fix: migrate sdo: prefix to schema: in GX legalperson fixture
  tests/fixtures/gx_legalperson_reference.json
Due: jsonld-lint

feat(gx): add --xsd-anyuri-as-iri to OWL generator for cross-layer consistency
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/update-from-submodule.sh
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-context: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-properties: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-readme: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
