Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: ["--config=pyproject.toml"]
        pass_filenames: true

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: ["--settings=pyproject.toml"]
        pass_filenames: true

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ["--config=.flake8"]
        pass_filenames: true

      - id: jsonld-lint
        name: JSON-LD Parser
        entry: python3 -m src.tools.validators.syntax_validator --json
        language: system
        types: [json]
        files: \.(json|jsonld)$

      - id: turtle-lint
        name: Turtle Parser
        entry: python3 -m src.tools.validators.syntax_validator --turtle
        language: system
        types: [text]
        files: \.(ttl)$

      - id: update-context
        name: Update JSON-LD Contexts
        entry: python3 -m src.tools.utils.context_generator --all
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
        stages: [pre-commit]

      - id: update-registry
        name: Update Ontology Registry and Catalog
        entry: python3 -m src.tools.utils.registry_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

      - id: update-properties
        name: Update Properties Documentation
        entry: python3 -m src.tools.utils.properties_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

      - id: update-readme
        name: Update README Catalog Table
        entry: python3 -m src.tools.utils.readme_updater
        language: system
        pass_filenames: false
        files: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: pretty-format-json
        args: ["--autofix", "--indent", "3", "--no-sort-keys"]
        files: \.(json|jsonld)$
      - id: mixed-line-ending
        args: ["--fix=lf"]

feat(openlabel-v2): complete v1-v2 gap closure with SHACL-SPARQL constraints
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.expected
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

chore(gx): refresh artifacts from service-characteristics v2.1.7+7
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): complete v1-v2 gap closure with SHACL-SPARQL constraints
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/properties/gx.md
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.expected
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): complete v1-v2 gap closure with SHACL-SPARQL constraints
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.expected
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

chore(gx): refresh artifacts from service-characteristics v2.1.7+7
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/properties/gx.md
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): complete v1-v2 gap closure with SHACL-SPARQL constraints (#64)
  Makefile
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/properties/gx.md
  linkml/openlabel-v2/GAP_ANALYSIS.md
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.json
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.json
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.json
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.json
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.expected
  tests/data/openlabel-v2/invalid/fail09_missing_required_minmax.json
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.json
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.json
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(ontology): add ODD subclass hierarchy and update LinkML toolchain
  .gitignore
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  linkml/openlabel-v2/openlabel-v2.yaml
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(ontology): add ODD subclass hierarchy and update LinkML toolchain
  .gitignore
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  linkml/openlabel-v2/openlabel-v2.yaml
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): enforce BSI PAS-1883 section boundaries via slot restrictions
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2.yaml
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix(openlabel-v2): add missing ParticulatesWater boolean slot and SPARQL rule
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(ontology): add ODD subclass hierarchy and update LinkML toolchain (#66)
  .gitignore
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  linkml/openlabel-v2/openlabel-v2.yaml
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/valid/openlabel-v2_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

demo: regenerate openlabel-v2 with upstream RDFC-1.0 canonicalization
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

demo: add one slot (scenarioComment) — observe massive diff
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2.yaml
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

demo: add one slot (scenarioComment) — observe minimal diff
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  linkml/openlabel-v2/openlabel-v2.yaml
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix(context-generator): support rdfs:Class and sh:in IRI enumerations
  artifacts/openlabel/openlabel.context.jsonld
  src/tools/utils/context_generator.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, update-registry, update-properties, update-readme

fix(context-generator): support rdfs:Class and sh:in IRI enumerations (#71)
  artifacts/openlabel/openlabel.context.jsonld
  src/tools/utils/context_generator.py
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, update-registry, update-properties, update-readme

fix(ontology): fix semantic bugs in hdmap/scenario OpenLABEL v1 integration
  artifacts/hdmap/hdmap.context.jsonld
  artifacts/hdmap/hdmap.owl.ttl
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/openlabel/openlabel.shacl.ttl
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.context.jsonld
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  config/ontoenv.toml
  imports/catalog-v001.xml
  imports/safetypooldb/safetypooldb.owl.ttl
  tests/catalog-v001.xml
  tests/data/example/valid/description_instance.json
  tests/data/example/valid/example_instance.json
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.json
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.json
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.json
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.expected
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.json
  tests/fixtures/example_related_self_description_reference.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(gx): regenerate artifacts with sh:pattern for SPDX LicenseRef
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  pyproject.toml
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(gx): regenerate artifacts with sh:pattern for SPDX LicenseRef (#73)
  artifacts/gx/PROPERTIES.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  pyproject.toml
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(ontology): fix semantic bugs in hdmap/scenario OpenLABEL v1 integration (#72)
  artifacts/hdmap/hdmap.context.jsonld
  artifacts/hdmap/hdmap.owl.ttl
  artifacts/hdmap/hdmap.shacl.ttl
  artifacts/openlabel/openlabel.shacl.ttl
  artifacts/scenario/PROPERTIES.md
  artifacts/scenario/scenario.context.jsonld
  artifacts/scenario/scenario.owl.ttl
  artifacts/scenario/scenario.shacl.ttl
  config/ontoenv.toml
  imports/catalog-v001.xml
  imports/safetypooldb/safetypooldb.owl.ttl
  tests/catalog-v001.xml
  tests/data/example/valid/description_instance.json
  tests/data/example/valid/example_instance.json
  tests/data/hdmap/invalid/fail01_false_value_hdmap_instance.json
  tests/data/hdmap/invalid/fail03_false_value_flat_context.expected
  tests/data/hdmap/invalid/fail03_false_value_flat_context.json
  tests/data/openlabel/invalid/fail01_wrong_value_openlabel_instance.json
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.expected
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.json
  tests/fixtures/example_related_self_description_reference.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(build): normalize line endings in generated artifacts
  Makefile
Due: none

feat(envited-x): add AttributeProvenance shape for metadata derivation tracking
  artifacts/envited-x/PROPERTIES.md
  artifacts/envited-x/envited-x.context.jsonld
  artifacts/envited-x/envited-x.owl.ttl
  artifacts/envited-x/envited-x.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

fix(build): normalize line endings in generated artifacts (#74)
  Makefile
Due: none

fix(scenario): rename formatType value to 'ASAM OpenSCENARIO XML'
  artifacts/scenario/scenario.shacl.ttl
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/invalid/fail03_prefixed_float_bypass_coercion.json
  tests/data/scenario/invalid/fail04_prefixed_geo_bypass_coercion.json
  tests/data/scenario/invalid/fail05_prefixed_filepath_bypass_coercion.json
  tests/data/scenario/invalid/fail06_string_value_for_float.json
  tests/data/scenario/invalid/fail07_boolean_value_for_float.json
  tests/data/scenario/invalid/fail08_string_value_for_integer.json
  tests/data/scenario/invalid/fail09_float_value_for_integer.json
  tests/data/scenario/invalid/fail11_object_value_for_literal.json
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/scenario/valid/scenario_minimal_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(scenario): rename formatType value to 'ASAM OpenSCENARIO XML' (#76)
  artifacts/scenario/scenario.shacl.ttl
  tests/data/scenario/invalid/fail01_false_value_scenario_instance.json
  tests/data/scenario/invalid/fail02_misspelled_property_scenario_instance.json
  tests/data/scenario/invalid/fail03_prefixed_float_bypass_coercion.json
  tests/data/scenario/invalid/fail04_prefixed_geo_bypass_coercion.json
  tests/data/scenario/invalid/fail05_prefixed_filepath_bypass_coercion.json
  tests/data/scenario/invalid/fail06_string_value_for_float.json
  tests/data/scenario/invalid/fail07_boolean_value_for_float.json
  tests/data/scenario/invalid/fail08_string_value_for_integer.json
  tests/data/scenario/invalid/fail09_float_value_for_integer.json
  tests/data/scenario/invalid/fail11_object_value_for_literal.json
  tests/data/scenario/invalid/fail12_wrong_enum_value_flat_context.json
  tests/data/scenario/valid/scenario_instance.json
  tests/data/scenario/valid/scenario_minimal_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

feat(openlabel-v2): migrate PAS 1883:2020 to ISO 34503/34504
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/future/linkml-modelling-guidelines.md
  linkml/openlabel-v2/openlabel-v2.yaml
  mkdocs.yml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.expected
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.json
  tests/data/openlabel-v2/valid/openlabel-v2_comprehensive_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_cross_test_instance.json
  tests/data/openlabel/valid/openlabel_comprehensive_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(build): use POSIX-compatible sed for trailing newline removal
  Makefile
Due: none

feat(openlabel-v2): migrate PAS 1883 to ISO 3450x with improved SHACL messages (#70)
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  Makefile
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  docs/future/linkml-modelling-guidelines.md
  linkml/openlabel-v2/openlabel-v2.yaml
  mkdocs.yml
  tests/catalog-v001.xml
  tests/data/openlabel-v2/invalid/fail01_wrong_value_openlabel-v2_instance.expected
  tests/data/openlabel-v2/invalid/fail02_decimal_for_integer.expected
  tests/data/openlabel-v2/invalid/fail03_string_for_boolean.expected
  tests/data/openlabel-v2/invalid/fail05_wrong_enum_value.expected
  tests/data/openlabel-v2/invalid/fail06_wrong_enum_in_array.expected
  tests/data/openlabel-v2/invalid/fail07_cross_enum_contamination.expected
  tests/data/openlabel-v2/invalid/fail08_maxcount_violation.expected
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  tests/data/openlabel-v2/invalid/fail11_traffic_agent_wrong_enum.expected
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.expected
  tests/data/openlabel-v2/invalid/fail12_edge_none_mutual_exclusion.json
  tests/data/openlabel-v2/valid/openlabel-v2_comprehensive_instance.json
  tests/data/openlabel-v2/valid/openlabel-v2_cross_test_instance.json
  tests/data/openlabel/valid/openlabel_comprehensive_instance.json
  tests/data/openlabel/valid/openlabel_instance.json
Due: jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

docs: add ASAM OpenX standards reference library as submodule
  .gitmodules
Due: none

docs: add ASAM OpenX standards reference library as submodule (#78)
  .gitmodules
Due: none

docs: add purpose documentation, README rewrite, and agent infrastructure
  .github/copilot-instructions.md
  README.md
  docs/concepts/purpose.md
Due: none

Update ASCS link in README.md
  README.md
Due: none

docs: add purpose documentation, README rewrite, and agent infrastructure (#79)
  .github/copilot-instructions.md
  README.md
  docs/concepts/purpose.md
Due: none

feat(validators): add per-resource SHACL validation mode
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
Due: black, isort, flake8

chore(openlabel-v2): regenerate SHACL artifact with updated linkml fork
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

feat(validators): per-resource SHACL validation mode (#80)
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  src/tools/validators/shacl/validator.py
  src/tools/validators/validation_suite.py
Due: black, isort, flake8, turtle-lint, update-context, update-registry, update-properties, update-readme
