Repository ASCS-eV/ontology-management-base: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

black:
  name: black
  entry: black
  language: system
  args:
  - --config=pyproject.toml
  pass_filenames: true

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --settings=pyproject.toml
  pass_filenames: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=.flake8
  pass_filenames: true

jsonld-lint:
  name: JSON-LD Parser
  entry: python3 -m src.tools.validators.syntax_validator --json
  language: system

turtle-lint:
  name: Turtle Parser
  entry: python3 -m src.tools.validators.syntax_validator --turtle
  language: system

update-context:
  name: Update JSON-LD Contexts
  entry: python3 -m src.tools.utils.context_generator --all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-registry:
  name: Update Ontology Registry and Catalog
  entry: python3 -m src.tools.utils.registry_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-properties:
  name: Update Properties Documentation
  entry: python3 -m src.tools.utils.properties_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

update-readme:
  name: Update README Catalog Table
  entry: python3 -m src.tools.utils.readme_updater
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(gx): repin service-characteristics to upstream v2.5.0 (#102)
  .gitignore
  .gitmodules
  CLAUDE.md
  README.md
  artifacts/gx/PROPERTIES.md
  artifacts/gx/README.md
  artifacts/gx/UPSTREAM_COMMIT
  artifacts/gx/UPSTREAM_REF
  artifacts/gx/VERSION
  artifacts/gx/VERSIONING.md
  artifacts/gx/gx.context.jsonld
  artifacts/gx/gx.owl.ttl
  artifacts/gx/gx.shacl.ttl
  artifacts/gx/update-from-submodule.sh
  docs/gaiax/gx-integration-pattern.md
  docs/ontologies/catalog.md
  docs/ontologies/properties.md
  docs/ontologies/properties/gx.md
  docs/registry.json
  imports/schema/README.md
  justfile
  omb/utils/context_generator.py
  tests/data/gx/invalid/fail01_wrong_url_type.expected
  tests/data/gx/invalid/fail01_wrong_url_type.json
  tests/data/gx/valid/gx_data_resource_instance.json
  tests/unit/utils/test_context_generator.py
Due: black, isort, flake8, jsonld-lint, turtle-lint, update-context, update-registry, update-properties, update-readme

fix(validation): never report success for a run that validated nothing
  AGENTS.md
  CLAUDE.md
  README.md
  docs/validation/conformance.md
  docs/validation/python-api.md
  docs/validation/suite.md
  docs/validation/tools.md
  mkdocs.yml
  omb/__init__.py
  omb/api.py
  omb/core/logging.py
  omb/core/negative_fixtures.py
  omb/py.typed
  omb/uploaders/fc_upload_with_update.py
  omb/utils/asam_imports.py
  omb/utils/class_page_generator.py
  omb/utils/context_generator.py
  omb/utils/file_collector.py
  omb/utils/graph_loader.py
  omb/utils/http_artifact_resolver.py
  omb/utils/print_formatter.py
  omb/utils/properties_updater.py
  omb/utils/registry_resolver.py
  omb/utils/registry_updater.py
  omb/utils/xsd_enum_extractor.py
  omb/utils/xsd_shacl_sync.py
  omb/validators/coherence_validator.py
  omb/validators/conformance_validator.py
  omb/validators/shacl/validator.py
  omb/validators/syntax_validator.py
  omb/validators/validation_suite.py
  tests/test_api.py
  tests/unit/core/test_logging.py
  tests/unit/validators/test_validation_suite.py
Due: black, isort, flake8

fix(validation): enforce the installed consumer contract
  .github/workflows/cd-pypi.yml
  .github/workflows/ci-quality.yml
  CLAUDE.md
  README.md
  docs/validation/consumer-contract.md
  docs/validation/generators.md
  docs/validation/python-api.md
  docs/validation/suite.md
  docs/validation/tools.md
  justfile
  mkdocs.yml
  omb/__init__.py
  omb/api.py
  omb/core/result.py
  omb/utils/context_generator.py
  omb/utils/file_collector.py
  omb/utils/properties_updater.py
  omb/validators/shacl/validator.py
  omb/validators/validation_suite.py
  scripts/verify_wheel_install.py
  tests/contract/test_consumer_contract.py
  tests/unit/utils/test_context_generator.py
  tests/unit/utils/test_generator_seam.py
  tests/unit/utils/test_properties_updater.py
Due: black, isort, flake8

docs(validation): clarify empty fixture and syntax outcomes
  docs/validation/consumer-contract.md
Due: none

chore(release): bump the package version to 0.5.0
  pyproject.toml
  uv.lock
Due: none

chore(deps): refresh the locked graph, cap pySHACL, derive the tested floors
  pyproject.toml
  scripts/verify_wheel_install.py
  uv.lock
Due: black, isort, flake8

fix(validators): type blank-node objects by rdfs:range in per-resource inference
  omb/validators/shacl/validator.py
  tests/unit/validators/shacl/test_inference.py
Due: black, isort, flake8

build(deps): pin linkml to the envited-x pipeline head and re-record openlabel-v2
  artifacts/gx/update-from-submodule.sh
  artifacts/openlabel-v2/PROPERTIES.md
  artifacts/openlabel-v2/openlabel-v2.context.jsonld
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  artifacts/openlabel-v2/openlabel-v2.shacl.ttl
  justfile
  tests/data/openlabel-v2/invalid/fail10_closed_shape_unknown_property.expected
  uv.lock
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

feat(linkml): model manifest, georeference, envited-x and ositrace in LinkML
  justfile
  linkml/GAPS.md
  linkml/envited-x/envited-x.yaml
  linkml/envited-x/gen-flags.env
  linkml/envited-x/importmap.json
  linkml/georeference/gen-flags.env
  linkml/georeference/georeference.yaml
  linkml/manifest/gen-flags.env
  linkml/manifest/manifest.yaml
  linkml/ositrace/gen-flags.env
  linkml/ositrace/importmap.json
  linkml/ositrace/ositrace.yaml
  scripts/build_linkml_domain.sh
  scripts/compare_artifacts.py
Due: black, isort, flake8, jsonld-lint

build(deps): pin linkml to the pipeline head with the switch-over generator features
  artifacts/openlabel-v2/openlabel-v2.owl.ttl
  pyproject.toml
  uv.lock
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

test(harness): measure hierarchies, optional properties and dependent domains
  scripts/compare_artifacts.py
Due: black, isort, flake8

ci: fetch the pinned Gaia-X sources before generating artifacts
  .github/workflows/ci-quality.yml
  scripts/build_linkml_domain.sh
Due: none

build(deps): pin linkml to the pipeline head with the DCMI agent terms
  uv.lock
Due: none

feat(ontology): name contributors and ASCS e.V. as publisher in generated headers
  artifacts/envited-x/envited-x.owl.ttl
  artifacts/georeference/georeference.owl.ttl
  artifacts/manifest/manifest.owl.ttl
  artifacts/ositrace/ositrace.owl.ttl
  linkml/GAPS.md
  linkml/envited-x/envited-x.yaml
  linkml/georeference/georeference.yaml
  linkml/manifest/manifest.yaml
  linkml/ositrace/ositrace.yaml
Due: turtle-lint, update-context, update-registry, update-properties, update-readme

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  jsonld-lint: any of: \.(json|jsonld)$ and \.json$
  turtle-lint: any of: \.(ttl)$
  update-context: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl)$
  update-registry: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-properties: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
  update-readme: any of: ^artifacts/.*\.(owl\.ttl|shacl\.ttl|context\.jsonld)$
